:root {
  box-sizing: border-box;

  --yellow-600: #fffb8f;
  --blue-600: #1677ff;
  --gray-100: #ffffff;
  --gray-200: #fafafa;
  --gray-400: #d9d9d9;
  --gray-700: #595959;
  --gray-900: #000000;

  --highlight: var(--yellow-600);
  --background: var(--gray-100);
  --background-hover: var(--gray-200);
  --text: var(--gray-900);
  --text-light: var(--gray-700);

  --focus-outline: var(--blue-600);

  --border-light: var(--gray-400);
  --border-dark: var(--gray-700);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  border-top: 2px solid var(--highlight);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 80ch;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.search-location {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-light);
  border-radius: 8px;
  width: 100%;
  gap: 2px;
}

.search-location__search {
  font-size: 1rem;
  border: none;
  color: var(--text-light);
  text-align: center;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px 0 0 8px;
}

.search-location__search::placeholder {
  text-transform: uppercase;
}

.search-location__button {
  border: none;
  background-color: var(--highlight);
  padding: 0.5rem 2rem;
  border-radius: 0 8px 8px 0;
}

.weather {
  display: grid;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0;
  grid-template-columns: 1fr 1fr;
}

.weather__basic-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 2rem;
  border-bottom: 4px solid var(--highlight);
}

.weather__basic-info__temperature {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.weather__basic-info__temperature__temperature {
  font-size: 4rem;
  font-weight: 900;
}

.weather__basic-info__condition {
  font-weight: 700;
}

.weather__detailed-info {
  display: grid;
  gap: 2rem;
  font-size: 1rem;
  padding: 2rem;
  width: 100%;
}

.weather__detailed-info__item {
  display: flex;
  justify-content: space-between;
}

.weather__detailed-info__item__title {
  text-transform: capitalize;
}

.hours-cards__title,
.days__title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.hours-cards__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(148px, 10vw));
  grid-template-rows: repeat(auto-fit, minmax(148px, 10vh));
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.hours-cards__card {
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

.hours-cards__card:hover {
  background-color: var(--background-hover);
  cursor: pointer;
  box-shadow: 2;
  box-shadow: 4px 10px 15px -2px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
  transform: translateY(-8px) translateX(-4px);
}

.hours-cards__card.active {
  background-color: var(--highlight);
  font-weight: 700;
}

.days {
  padding: 4rem;
}

.days__days {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.days__day-button {
  padding: 1rem 3rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.days__day-button:hover {
  background-color: var(--background-hover);
  cursor: pointer;
}

.days__day-button.active {
  background-color: var(--highlight);
  font-weight: 700;
}
